$p1-font-sizes: (
        "sm": 16px,
        "lg": 18px,
        "2x1": 22px
);

$p2-font-sizes: (
        "sm": 24px,
        "lg": 28px,
        "2x1": 32px
);

$p3-font-sizes: (
        "sm": 18px,
        "lg": 18px,
        "2x1": 20px
);

